<!--The content below is only a placeholder and can be replaced.-->
<div class="container-fluid">
  <div class="row">
     <div class="col-lg-6">
        <div *ngIf="getResponse">
            <span><b>User ID:</b>{{getResponse.userId}} </span> 
            <span><b>Title :</b> {{getResponse.title}}</span> 
        </div>
     </div>
    </div>
<hr>
    <div class="row">
      <div class="col-lg-6">
         <div>
             <span>Post Call Section</span> 
         </div>
         <div>
          <button class="primary" (click)="sendPostData()">Post Button</button>
          <span *ngIf="postResponse">Post Successful</span>
         </div>
      </div>
     </div>
<hr>
     <div class="row">
       <div class="col-lg-6">
          <div>
              <span>Delete Call Section</span> 
          </div>
          <div>
           <button class="primary">Delete Button</button>
          </div>
       </div>
      </div>
</div>
<router-outlet></router-outlet>
